<!DOCTYPE html> <html> <head>
	<meta charset='utf-8'> <title> Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel= 'stylesheet' type='text/css' 
	media='only screen and (min-width: 800px)'
        href='/stylesheets/wide.css' />
	<link rel= 'stylesheet' type='text/css'
        media='only screen and (max-width: 800px)'
	href='/stylesheets/smartphone.css' />

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
	<div id="page">
	<header class="main"> 
		<h2> Quiz <span class=·no-narrow">:el juego de las preguntas
		</span></h2>
	</header>
	
	<nav class="main" role="navigation">
		<a href ="/"> Inicio </a>
		<a href="/question"> Preguntas </a>
		<a href="/author"> Autores </a>	
	</nav>

	<section class="main"> <div> <%-body %> </div> </section>

	<footer class="main"> <a href="https://github.com/svalient14/quiz_practicas.git">
	Mi proyecto en Github 
	</footer>
</body> </html>
