		<form method="get" action="/check">
			Pregunta: <%= question %>
			<input type="text" name="answer" value= "<%= answer %>"
				placeholder="Escriba su respuesta aquí"/>
			<input type="submit" value="Comprobar">
		</form>
