<!DOCTYPE HTML><html>
<head>
	<metacharset="utf-8">
	<title> Quiz </title>
	<link rel="stylesheet" href="/stylesheets/sytle.css"/>
</head>
<body>
	<h2> Quiz: el juego de las preguntas </h2>

	<p> La respuesta <%= answer %> es <%= result %> </p>
	<p> <a href="/question?answer=<%=answer%>"> Inténtelo de nuevo </a>
</body>
</html>
